@{
}

@model Crash

<h1>this the the crash summary</h1>
@*<div class="card card-outline-primary m-1 p-1">

    <div class="bg-light p-1">
        <h4>@Model.CRASH_ID</h4>

        <span class="badge bg-info text-light" style="float:left">
            Category: @Model.CRASH_SEVERITY_ID
        </span>
    </div>


    <ul>

        <li>Author: @Model.Author</li>

        <li>Publisher: @Model.Publisher</li>

        <li>ISBN: @Model.ISBN</li>

        <li>Classification: @Model.Classification</li>

        <li>Page Count: @Model.PageCount</li>

        <li>Price: @Model.Price.ToString("$#,##0.00")</li>

    </ul>

    <form method="post" asp-page="/Cart">

        <input type="hidden" asp-for="@Model.BookId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />


        <span class="card-text">
            <button type="submit" class="btn btn-success btn-sm float-end">Add to Cart</button>
        </span>
    </form>
</div>*@